<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
</head>
<body>
    <div class="navbar">
        <ul class="tab-list">
            <li><a routerLink="/admin-customer">Quản lý Khách hàng</a></li>
        </ul>
    </div>
    <div class="order-history-container">
        <div class="container">
            <h1>Danh sách đơn hàng</h1>
            <table>
                <thead>
                    <tr>
                        <th>ID đơn hàng</th>
                        <th>ID khách hàng</th>
                        <th>Tên sản phẩm</th>
                        <th>Số Lượng</th>
                        <th>Tổng</th>
                        <th>Trạng Thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let history of laydh">
                        <td><strong>{{ history.IdOrder }}</strong></td>
                        <td><strong>{{ history.Id }}</strong></td>
                        <td><strong>{{ history.ProductName }}</strong></td>
                        <td><strong>{{ history.Quantity }}</strong></td>
                        <td><strong>{{ history.Price }}</strong></td>
                        <td><strong>{{ history.OrderStatus }}</strong></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
</body>
</html>
