

/* Container styling */
.container {
    margin: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
}

.tab-list {
    list-style: none;
    padding: 0;
    display: flex;
}
.tab-list li {
    margin-right: 20px;
}

.tab-list a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.tab-list a:hover {
    text-decoration: underline;
    color: #ffcc00;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}
