<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    
</head>
<body>
   <div class="container"> 
       <div class="form signin">
           <h2>Log In</h2>
           <div class="inputBox">
               <input type="text" required="required" [(ngModel)]="userName" name="userName"/>
               <i class="fa fa-user"></i>
               <span>User Name</span>
           </div>
           <div class="inputBox">
               <input type="password" required="required" [(ngModel)]="passWord" name="passWord"/>
               <i class="fa fa-lock"></i>
               <span>Password</span>
           </div>
           <div class="inputBox">
               <button class="submit" (click)="dangNhap()">Đăng Nhập</button>
           </div>
           <p>Chưa có tài khoản ? <a [routerLink]="['/register']" >Tạo tài khoản </a></p>
       </div>
   </div>
</body>
</html>
