<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-header></app-header>
    <div class="admin-container">
        <!-- Left Navigation Form -->
        <div class="product-menu">
           <a href="/admin"> <h2>Quản Lý Sản Phẩm</h2></a>
            <ul>
                <li><a routerLink="/product">Xem Danh Sách Sản Phẩm</a></li>
                <li><a routerLink="/add-product">Thêm Sản Phẩm </a></li>
            </ul>
        </div>

        <!-- Product Table on the Right -->
        <div class="product-cards">
            <table class="product-table">
                <thead>
                  <tr>
                    <th>Product ID</th>
                    <th>Product Name</th>
                    <th>Brand Name</th>
                    <th>Category Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>ImageUrl</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let Productct of displayedProducts">
                    <td>{{ Productct.ProductId }}</td>
                    <td>{{ Productct.ProductName }}</td>
                    <td>{{ Productct.BrandName }}</td>
                    <td>{{ Productct.CategoryName }}</td>
                    <td>{{ Productct.Price | currency: 'VND' }}</td>
                    <td>{{ Productct.Quantity }}</td>
                    <td>{{ Productct.ImageUrl }}</td>
                    <td class="action-buttons">
                      <button [routerLink]="['/edit-product', Productct.ProductId]" class="btn btn-primary">Sửa SP</button>
                      <button (click)="deleteProduct(Productct.ProductId)" class="btn btn-danger">Xóa</button>
                    </td>
                  </tr>
                </tbody>
              </table> 
        </div>
    </div>
    <div class="pagination">
        <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Trước</button>
        <span>Trang {{ currentPage }} / {{ totalItems / itemsPerPage  }}</span>
        <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === (totalItems / itemsPerPage )">Tiếp</button>
      </div>
      <app-footer></app-footer>
</body>
</html>