<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lịch sử đơn hàng </title>
</head>
<body>
    <app-header></app-header>
    <div class="navbar">
        <ul class="tab-list">
            <li><a routerLink="/admin-customer">Quản lý Khách hàng</a></li>
        </ul>
    </div>
    <div class="order-history-container">
        <div class="container">
            <h2>Danh sách đơn hàng của khách hàng  </h2>
           
            <table>
                <thead>
                    <tr>
                        <th>ID đơn hàng</th>
                        <th>ID khách hàng</th>
                        <th>Ngày đặt hàng</th>
                        <th>Tên sản phẩm</th>
                        <th>Số Lượng</th>
                        <th>Tổng</th>
                        <th>Trạng Thái</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let historys of orderData">
                        <td><strong>{{ historys.IdOrder }}</strong></td>
                        <td><strong>{{ historys.Id }}</strong></td>
                        <td><strong>{{ historys.OrderDate }}</strong></td>
                        <td><strong>{{ historys.ProductName }}</strong></td>
                        <td><strong>{{ historys.Quantity }}</strong></td>
                        <td><strong>{{ historys.Price }}</strong></td>
                        <td><strong>{{ historys.OrderStatus }}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="form-actions">
            <a class="btn-back" [routerLink]="['/admin-customer']">Quay Lại</a>
        </div>
    </div>
    <app-footer></app-footer>
</body>
</html>