<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thêm danh mục</title>
  
</head>

<body>
  <app-header></app-header>

  <main>
    <aside>
      <ul>
        <li><a routerLink="/admin-customer"> Quản lý khách hàng</a></li>
        <li><a name="Pro" routerLink="/product">Quản lý sản phẩm  </a> </li>
        <li><a routerLink="/ds-d-muc">Quản lý danh mục</a></li>
        <li><a routerLink="#"> Quản lý đơn hàng</a></li>
        
      </ul>
    </aside>

      <!-- <app-them-sua-d-muc [dMuc]="dMuc" *ngIf="dangThemSua"></app-them-sua-d-muc> -->
<table class="table table-striped">
    <thead>
        <th>Tên danh mục</th>
        <th>Mô tả</th>
        <th>Trạng thái</th>
        <th>Tuỳ chọn</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of DSDanhMuc">
            
            <td>{{item.category_name}}</td>
            <td>{{item.description}}</td>
            <td></td>
            <td>
                <button style="color:bisque" type="button" class="btn btn-light mr-1" routerLink="/danhmuc/them-sua-d-muc">
                    Thêm
                </button>
                <button style="color:aqua" type="button" class="btn btn-light mr-1" (click)="chiTietDanhMuc(dMuc)">
                    Sửa
                </button>
                <button style="color:red" type="button" class="btn btn-light mr-1" (click)="xoaDanhMuc(item)">
                    Xoá
                </button>
            </td>
        </tr>
        <!-- <tr>
            <td>1</td>
            <td>ASUS</td>
            <td>Trải nghiệm sức mạnh thay đổi thế giới của AI với Zenbook S 14, mẫu Copilot+ PC mở ra kỷ nguyên mới của ASUS kết hợp giữa thiết kế mỏng 1,1 cm1 và công nghệ tối tân. Phần thân hoàn toàn bằng kim loại  chiếc máy thanh mảnh và tinh tế.</td>
            <td>
                <button type="button" class="btn btn-light mr-1" routerLink="the">
                    Sửa
                </button>
                <button type="button" class="btn btn-light mr-1">
                    Xoá
                </button>
            </td>
        </tr>
         -->
    </tbody>
</table>
          

    
     
  </main>

  <footer>
    <div class="support">
      <p style="color: #3388ff;">Tổng đài hỗ trợ (8:00-17:30)</p>
      <p style="color: #3388ff;">Mua hàng: 0989308888</p>
      <p style="color: #3388ff;">Bảo hành: 0989303333</p>
      <p>Email: cskhTechCaregmail.com</p>
    </div>
    <div class="social">
      <a href="#" class="social-icon">
        <img src="image/zalo.jpg" >
      </a>
      <a href="#" class="social-icon">
        <img src="image/instagram.jpg">
      </a>
      <a href="#" class="social-icon">
        <img src="image/fb.png" >
      </a>
    </div>
  </footer>
</body>
</html>