<footer>
    <div class="support">
      <p style="color: #3388ff;">Tổng đài hỗ trợ (8:00-17:30)</p>
      <p style="color: #3388ff;">Mua hàng: 0989308888</p>
      <p style="color: #3388ff;">Bảo hành: 0989303333</p>
      <p>Email: cskhTechCaregmail.com</p>
    </div>
    <div class="social">
      <!-- Zalo Icon -->
      <a href="#" class="social-icon">
        <img src="/img/zalo.png" alt="Zalo Icon">
      </a>
    
      <!-- Facebook Icon -->
      <a href="#" class="social-icon">
        <img src="/img/fb.png" alt="Facebook Icon">
      </a>
    
      <!-- Instagram Icon -->
      <a href="#" class="social-icon">
        <img src="/img/instagram.png" alt="Instagram Icon">
      </a>
    </div>
    
  </footer>