<footer>
    <div class="support">
      <p style="color: #3388ff;">Tổng đài hỗ trợ (8:00-17:30)</p>
      <p style="color: #3388ff;">Mua hàng: 0989308888</p>
      <p style="color: #3388ff;">Bảo hành: 0989303333</p>
      <p>Email: cskhTechCaregmail.com</p>
    </div>
    <div class="social">
      <!-- Zalo Icon -->
      <a href="#" class="social-icon">
        <img src="https://www.google.com.vn/imgres?q=h%C3%ACnh%20%E1%BA%A3nh%20icon%20app%20zalo%2C%20fabook%2C%20inter%20gram&imgurl=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20230426%2Foriginal%2Fpngtree-instagram-icon-instagram-logo-picture-image_3584852.png&imgrefurl=https%3A%2F%2Fvi.pngtree.com%2Ffree-png-vectors%2Ficon-zalo&docid=II_mpP_3uxGDzM&tbnid=gyv9eUAZDy4wZM&vet=12ahUKEwiUlPnJrKSKAxUHkq8BHakRCQQQM3oECGsQAA..i&w=1200&h=1200&hcb=2&ved=2ahUKEwiUlPnJrKSKAxUHkq8BHakRCQQQM3oECGsQAA" alt="TechCare Logo" class="logo">
      </a>
    
      <!-- Facebook Icon -->
      <a href="#" class="social-icon">
        <img src="https://www.google.com.vn/imgres?q=h%C3%ACnh%20%E1%BA%A3nh%20icon%20app%20zalo%2C%20fabook%2C%20inter%20gram&imgurl=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20230426%2Foriginal%2Fpngtree-instagram-icon-instagram-logo-picture-image_3584852.png&imgrefurl=https%3A%2F%2Fvi.pngtree.com%2Ffree-png-vectors%2Ficon-zalo&docid=II_mpP_3uxGDzM&tbnid=gyv9eUAZDy4wZM&vet=12ahUKEwiUlPnJrKSKAxUHkq8BHakRCQQQM3oECGsQAA..i&w=1200&h=1200&hcb=2&ved=2ahUKEwiUlPnJrKSKAxUHkq8BHakRCQQQM3oECGsQAA" alt="Facebook Icon">
      </a>
    
      <!-- Instagram Icon -->
      <a href="#" class="social-icon">
        <img src="https://www.google.com.vn/imgres?q=h%C3%ACnh%20%E1%BA%A3nh%20icon%20app%20zalo%2C%20fabook%2C%20inter%20gram&imgurl=https%3A%2F%2Fpng.pngtree.com%2Fpng-clipart%2F20230426%2Foriginal%2Fpngtree-instagram-icon-instagram-logo-picture-image_3584852.png&imgrefurl=https%3A%2F%2Fvi.pngtree.com%2Ffree-png-vectors%2Ficon-zalo&docid=II_mpP_3uxGDzM&tbnid=gyv9eUAZDy4wZM&vet=12ahUKEwiUlPnJrKSKAxUHkq8BHakRCQQQM3oECGsQAA..i&w=1200&h=1200&hcb=2&ved=2ahUKEwiUlPnJrKSKAxUHkq8BHakRCQQQM3oECGsQAA" alt="" class="intergram">
      </a>
    </div>
    
  </footer>