<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
      <div class="header-left">
        <img src="logo.png" alt="TechCare Logo" class="logo">
        <span>TechCare</span>
      </div>
      <div class="header-center">
          <span class="icon search-icon">🔍</span> <!-- Biểu tượng kính lúp -->
          <input type="text" placeholder="Nhập tên sản phẩm cần tìm"> 
        <button>Tìm kiếm</button>
      </div>
      <div class="header-right">
        <span>Hotline CSKH: 0989308888</span>
        <!-- <button>Đăng nhập</button> -->
        <button [routerLink]="['/register']">Đăng Kí</button>
        
      </div>
    </header>
  
    <main>
      <aside>
        <ul>
          <li><a routerLink="/admin-customer"> Quản lý khách hàng</a></li>
          <li><a name="Pro" routerLink="/product">Quản lý sản phẩm  </a> </li>
          <li><a routerLink="/ds-d-muc">Quản lý danh mục</a></li>
          <li><a routerLink="#"> Quản lý đơn hàng</a></li>
         
        </ul>
      </aside>
  
     
    </main>
  
    <footer>
      <div class="support">
        <p style="color: #3388ff;">Tổng đài hỗ trợ (8:00-17:30)</p>
        <p style="color: #3388ff;">Mua hàng: 0989308888</p>
        <p style="color: #3388ff;">Bảo hành: 0989303333</p>
      <p>Email: cskhTechCaregmail.com</p>
    </div>
    <div class="social">
      <a href="#" class="social-icon">
        <img src="image/zalo.jpg" >
      </a>
      <a href="#" class="social-icon">
        <img src="image/instagram.jpg">
      </a>
      <a href="#" class="social-icon">
        <img src="image/fb.png" >
      </a>
    </div>
  </footer>
</body>
</html>