<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <app-header></app-header>
  
    <main>
      <aside>
        <ul>
          <li><a routerLink="/admin-customer" name=customer> Quản lý khách hàng</a></li>
          <li><a name="Pro" routerLink="/product">Quản lý sản phẩm  </a> </li>
          <li><a routerLink="/ds-d-muc">Quản lý danh mục</a></li>
          <li><a routerLink="#"> Quản lý đơn hàng</a></li>
         
        </ul>
      </aside>
  
     
    </main>
  
    <footer>
      <div class="support">
        <p style="color: #3388ff;">Tổng đài hỗ trợ (8:00-17:30)</p>
        <p style="color: #3388ff;">Mua hàng: 0989308888</p>
        <p style="color: #3388ff;">Bảo hành: 0989303333</p>
      <p>Email: cskhTechCaregmail.com</p>
    </div>
    <div class="social">
      <a href="#" class="social-icon">
        <img src="image/zalo.jpg" >
      </a>
      <a href="#" class="social-icon">
        <img src="image/instagram.jpg">
      </a>
      <a href="#" class="social-icon">
        <img src="image/fb.png" >
      </a>
    </div>
  </footer>
</body>
</html>