<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <app-header></app-header>
  
    <main>
      <aside>
        <ul>
          <li><a routerLink="/admin-customer" name=customer> Quản lý khách hàng</a></li>
          <li><a name="Pro" routerLink="/product">Quản lý sản phẩm  </a> </li>
          <li><a routerLink="/ds-d-muc">Quản lý danh mục</a></li>
          <li><a routerLink="/them-sua-book"> Quản lý đơn hàng</a></li>
         
        </ul>
      </aside>
  
     
    </main>
  
    <app-footer></app-footer>
</body>
</html>