<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechCare Header</title>
    
</head>
<body>
    <header>
        <div class="header-left">
            <img src="https://photo2.tinhte.vn/data/attachment-files/2024/01/8232029_HP-Omen-Transcend-14-cover.jpg" alt="TechCare Logo" class="logo">
            <span>
                <a [routerLink]="['/home']">TechCare</a>
            </span>
        </div>
        <div class="header-center">
            <input
            type="text"
            placeholder="Nhập tên sản phẩm cần tìm..."
            [(ngModel)]="searchTerm"
            class="search-input"
          />
          <button (click)="searchProducts()" class="search-btn">Search</button>
        </div>
        <div class="header-right">
            <span class="icon phone-icon">📞</span> Hotline CSKH: 0989308888
            <ng-container *ngIf="isLoggedIn; else notLoggedIn">
              <span class="welcome-message">
                  Xin chào, <span class="user-name">{{ userName }}</span>
              </span>
              <button routerLink="/login" (click)="logout()">
                  Đăng xuất
              </button>
          </ng-container>
          <ng-template #notLoggedIn>
            <button routerLink="/login">
                   Đăng nhập
              </button>
          </ng-template>
      </div>
  </header>